<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widh=device-width, initial-scale=1 shrink-to-fit=no">
        <title>{% block title %}Hello City!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% block javascripts %}{% endblock %}
    </head>
    <body class="py-6  flex flex-col justify-between items-center min-h-screen">
        <main role="main" class="flex flex-col justify-center items-center">
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p class="text-gray-400">
                &copy; Copyright &middot;
                <a href="{{ path('app_about') }}" class="text-indigo-500 hover:text-indigo-600 underline">About Us</a></p>
        </footer>
    </body>
</html>
